@model IEnumerable<Ictshop.Models.Chitietdonhang>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>Order Detail </h2>

<table class="table">
    <tr>
        <th>
            Product Name 
        </th>
        <th>
            Quantity
        </th>
        <th>
            Unit price/ 1 Product 
        </th>
        <th>
            Total 
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Sanpham.Tensp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soluong)
    </td>
    <td>
        @String.Format("{0:0,0}", item.Dongia) $
    </td>
    <td>
        @String.Format("{0:0,0}", item.Thanhtien) $
    </td>
</tr>
    }

</table>
