@model IEnumerable<Ictshop.Models.Thongke>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />

<<<<<<< HEAD
<<<<<<< HEAD
<center><h2 style="color:dodgerblue">Loyal customers</h2></center>
=======
<center><h2 style="color:red">Loyal customers</h2></center>
>>>>>>> 2a759a8020b02aeac8fb7e8a0e59c59926521ecd
=======
<center><h2 style="color:dodgerblue">Loyal customers</h2></center>
>>>>>>> develop
<br />

<table class="table table-bordered">
    <tr>
        <th>
            Customer Name 
        </th>
        <th>
            Phone
        </th>
        <th>
            Money bought
        </th>
        <th>
            Order quantity 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Tennguoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @String.Format("{0:0,0}", item.Tongtien) $ 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>

        </tr>
    }

</table>
