@{
    ViewBag.Title = "Flowershop ";

}


<br />

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">About Us</h3>
            <h1 class="mb-0">“Make Important Days Perfect – Make Ordinary Days Memorables"</h1>
        </div>

    </div>
    <div class="row g-0 mb-3">
        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
            <h5 class="mb-3" style=" text-align: center"><i class="fa fa-check text-primary me-3"></i> We have flowers arangement artists.</h5>
            <h5 class="mb-3" style=" text-align: center"><i class="fa fa-check text-primary me-3"></i> We are one the largest florists today.</h5>
        </div>
        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">

            <h5 class="mb-3" style=" text-align: center"><i class="fa fa-check text-primary me-3"></i>We shop ofers to  you all kinds of flowers:  fresh , wax,paper...</h5>
            <h5 class="mb-3" style=" text-align: center"><i class="fa fa-check text-primary me-3"></i>We want to bring people to understand the beauty of flowers.</h5>
        </div>
    </div>
</div>

<br />
<br />
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">Ingredient</h3>
            <h1 class="mb-0">“The material we make the main product is fresh flowers"</h1>
        </div>

    </div>
    <div class="col-md-4">
        <img src="~/HinhanhSP/nl1.jpg" class="img-responsive" alt="" />
     
        <br />

        <h3 style=" text-align: center">Chrysanthemum Field</h3>
        <h5>
            Need regular watering, especially from the time the plant begins to take root until flowers.
            
        </h5>


    </div>
    <div class="col-md-4">
        <img src="~/HinhanhSP/nl2.jpg" class="img-responsive" alt="" />
        
        <br />
        <h3 style=" text-align: center">Sunflower Field</h3>
        <h5>
            Need regular watering, especially from the time the plant begins to take root until flowers.
        </h5>

    </div>
    <div class="col-md-4">
        <img src="~/HinhanhSP/nl3.jpg" class="img-responsive" alt="" />
        
        <br />
        <h3 style=" text-align: center">Rose Field</h3>

        <h5>
            Need regular watering, especially from the time the plant begins to take root until flowers.
            
        </h5>

    </div>
</div>
<br />
<br />

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">Best Saller</h3>
        </div>

        <div class="dt">
            @Html.Action("valentine", "Sanpham")
        </div>
        <br />
        <br />
        <div class="dt">

            @Html.Action("motherday", "Sanpham")
        </div>

    </div>
</div>

<br />

